<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://uploadformfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b928c8ad-13fa-45e4-8433-e2134916d830/resourceGroups/uploadform/providers/Microsoft.Web/sites/uploadformfunctions</ResourceId>
    <UserName>$uploadformfunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://uploadformfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>